conda/envs
**/.snakemake/**
**/.flag/**
**/__pycache__/**
**/rmarkdown/*
**/.parallel/**
**/.keras/**
**/.claude/**

# Do not ignore .Rmd files
!**/rmarkdown/*.Rmd
!**/rmarkdown/*.R
!**/rmarkdown/README.txt
!**/rmarkdown/Rscript/
!**/rmarkdown/Rscript/**


singularity/*
